{% extends '__main.jinja' %}

{% block content %}
    <div class="main">
        {% include '__stats_header.jinja' %}
        <div class="container-50">
            <h1>Žebříček příjmů z jednotlivých služeb</h1>

            <table class="stats-table">
                <thead>
                    <tr>
                        <th>Pořadí</th>
                        <th>Typ služby</th>
                        <th>Příjem</th>
                    </tr>
                </thead>
                <tbody>
                    {% for service in income %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ service['nazev'] }}</td>
                            <td>{{ service['total_price'] }} Kč</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
