{% extends '__main.jinja' %}

{% block content %}
    <div class="main">
        {% include '__stats_header.jinja' %}
        <div class="container-50">
            <h1>Žebříček zaměstanců (počet oprav)</h1>

            <table class="stats-table">
                <thead>
                    <tr>
                        <th>Pořadí</th>
                        <th>Jméno</th>
                        <th>Počet Oprav</th>
                    </tr>
                </thead>
                <tbody>
                    {% for employee in employees %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ employee['jmeno'] }} {{ employee['prijmeni'] }}</td>
                            <td>{{ employee['repair_count'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
