{% block content %}
    <footer>
        <div class="social-media">
            <a href="https://twitter.com" target="_blank">
                <i class="fa-brands fa-x-twitter fa-xl"></i>
            </a>
            <a href="https://instagram.com" target="_blank">
                <i class="fa-brands fa-instagram fa-xl"></i>
            </a>
            <a href="https://facebook.com" target="_blank">
                <i class="fa-brands fa-facebook fa-xl"></i>
            </a>
        </div>
    </footer>
{% endblock %}