<li><a href="{{ url_for('repair.view_manage_repairs_page') }}" class="{% if request.endpoint == 'repair.view_manage_repairs_page' %} active {% endif %}">Opravy</a></li>
<li><a href="{{ url_for('order.view_manage_orders_page') }}" class="{% if request.endpoint == 'order.view_manage_orders_page' %} active {% endif %}">Objednávky</a></li>