<li><a href="{{ url_for('order.view_create_order_page') }}" class="{% if request.endpoint == 'order.view_create_order_page' %} active {% endif %}">Objednat se</a></li>
<li><a href="{{ url_for('vehicle.view_manage_vehicles_page') }}" class="{% if request.endpoint == 'vehicle.view_manage_vehicles_page' %} active {% endif %}">Vozidla</a></li>