<li><a href="{{ url_for('home_page.page') }}#services">Naše služby</a></li>
<li><a href="{{ url_for('home_page.page') }}#gallery">Galerie</a></li>
<li><a href="{{ url_for('home_page.page') }}#booking">Rezervace termínu</a></li>
<li><a href="{{ url_for('home_page.page') }}#contact">Kontakt</a></li>